<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css" charset="utf-8">
    <link rel="stylesheet" href="/admin.css" charset="utf-8">
    <link rel="stylesheet" href="/contact.css" charset="utf-8">
    <link rel="stylesheet" href="/admin_fanmail.css" charset="utf-8">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>Brakumo - Fanmail Admin</title>
</head>
<body class="bg_contact_img">
    <% include partials/div_nav_bar.ejs %>
    <div class="div_contact_container">
        <!-- <div id="div_contact_success_header"></div> -->
        <!-- <div id="div_contact_success_blurb"></div> -->
        <table class="table_mailer_container">
            <tr>
                <td>
                    <div class="div_admin_button">
                        <a href="/admin_fanmail_add"><button>ADD NEW MAIL RECIPIENT</button></a>&nbsp;
                    </div>
                </td>
            </tr>
        </table>
        <table class="table_admin_container">
            <tr>
                <td class="td_mailer_left">
                    <div class="div_mailer_name"><a href="/admin_fanmail/name">Name</a></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_email"><a href="/admin_fanmail/email">Email</a></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_state"><a href="/admin_fanmail/state">State</a></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_state"><a href="/admin_fanmail/preference">Preference</a></div>
                </td>
            </tr>
            <% for (let i=0; i < mailing_list.length; i++) { %>
            <tr>
                <td class="td_mailer_left">
                    <div class="div_mailer_name"><%= mailing_list[i].mail_name %></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_email"><%= mailing_list[i].mail_email %></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_state"><%= mailing_list[i].mail_state %></div>
                </td>
                <td class="td_mailer_right">
                    <div class="div_mailer_state">
                        <% if (mailing_list[i].mail_preference_1 === 1) { %>
                            All
                        <% } else if (mailing_list[i].mail_preference_1 === 2) { %>
                            Shows Only
                        <% } else if (mailing_list[i].mail_preference_1 === 3) { %>
                            Shows for State
                        <% } else { %>
                            None Selected
                        <% } %>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="div_admin_button">
                        <a href="/admin_fanmail_edit/<%= mailing_list[i].mail_id %>"><button>EDIT</button></a>&nbsp;
                        <a href="/admin_fanmail_delete/<%= mailing_list[i].mail_id %>"><button>DELETE</button></a>
                    </div>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>