<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/nav.css" charset="utf-8">
    <link rel="stylesheet" href="/drumbas.css" charset="utf-8">
    <title>Brakumo - The Drumbas</title>
</head>
<body class="bg_drumbas_img">
    <% include partials/div_nav_bar.ejs %>
    <br/><div class="div_drumbas_container">
            <% for (i=0; i<blogs.length; i++) { %>
                <table class="table_drumbas_container">
                    <tr>
                        <td class="td_drumbas_left">
                            <div class="div_drumbas_title"><%= blogs[i].blog_title %></div>
                            <% if (blogs[i].blog_show_id) { %>
                                <% for (let j=0; j<shows.length; j++) { %>
                                    <% if (blogs[i].blog_show_id === shows[j].show_id) { %>
                                        <div class="div_drumbas_reference"> ~ in reference to the show on</div>
                                        <div class="div_drumbas_venue"><%= shows[j].show_date.toDateString() %>
                                        <br/>at <%= shows[j].ven_name %></div>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </td>
                        <td class="td_drumbas_right">
                            <div class="div_drumbas_date"><%= blogs[i].blog_date.toDateString() %></div>
                            <div class="div_drumbas_content"><%= blogs[i].blog_content %></div>
                        </td>
                    </tr>
                </table>
            <% } %>
        </div>
</body>
</html>