<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="nav.css" charset="utf-8">
    <link rel="stylesheet" href="shows.css" charset="utf-8">
    <title>Brakumo</title>
</head>
<body class="bg_shows_img">
    <% include partials/div_nav_bar.ejs %>
    <br/><div class="div_shows_container">
        <% for (i=0; i<shows.length; i++) { %>
            <a name="<%= shows[i].show_id %>"></a>
            <table class="table_shows_container">
                <tr>
                    <td class="td_shows_left">
                        <div class="div_shows_venue"><%= shows[i].ven_name %></div>
                        <div class="div_shows_address"><%= shows[i].ven_address_1 %>
                        <% if (shows[i].ven_address_2) { %>
                            <br/><%= shows[i].ven_address_1 %>
                        <% } %>
                        
                        <br/><%= shows[i].ven_city %>, <%= shows[i].ven_state %> <%= shows[i].ven_postal %>
                        <br/><%= shows[i].ven_phone %> | <a href="<%= shows[i].ven_web %>" target="_blank">Website</a></div>
                        <div class="div_shows_desc"><%= shows[i].ven_desc %></div>
                    </td>
                    <td class="td_shows_right">
                        <div class="div_shows_date"><%= shows[i].show_date.toDateString() %> - <%= shows[i].show_time %></div>
                        <div class="div_shows_info"><%= shows[i].show_info %></div>
                        <br/>
                        <% if (shows[i].show_ticket_link !== 'NA') { %>
                            <a href="<%= shows[i].show_ticket_link %>" target="_blank"><div class="div_shows_tix">TICKETS</div></a>
                        <% } else { %>
                            <div class="div_shows_info">Advance tickets not available</div>
                        <% } %>
                        <br/><a href="blog/<%= shows[i].show_id %>"><div class="div_shows_blog">SHOW BLOG</div></a>
                    </td>
                </tr>
            </table>
        <% } %>
    </div>
</body>
</html>